:root, :host {
  // var for typo
  --font-family: 'Open Sans', sans-serif;
  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  // var for spacing margin & padding
  --spacing-base: 8px;
  --spacing-quarter: calc(0.25 * var(--spacing-base));
  --spacing-half: calc(0.5 * var(--spacing-base));
  --spacing-1x: var(--spacing-base);
  --spacing-1halfx: calc(1.5 * var(--spacing-base));
  --spacing-2x: calc(2 * var(--spacing-base));
  --spacing-2halfx: calc(2.5 * var(--spacing-base));
  --spacing-3x: calc(3 * var(--spacing-base));
  --spacing-3halfx: calc(3.5 * var(--spacing-base));
  --spacing-4x: calc(4 * var(--spacing-base));
  --spacing-4halfx: calc(4.5 * var(--spacing-base));
  --spacing-5x: calc(5 * var(--spacing-base));
  --spacing-5halfx: calc(5.5 * var(--spacing-base));
  --spacing-6x: calc(6 * var(--spacing-base));
  --spacing-7x: calc(7 * var(--spacing-base));

  // var for border-radius
  --border-radius-half: calc(0.5 * var(--border-radius));
  --border-radius: 4px;
  --border-radius-1halfx: calc(1.5 * var(--border-radius));
  --border-radius-2x: calc(2 * var(--border-radius));
  --border-radius-2halfx: calc(2.5 * var(--border-radius));
  --border-radius-3x: calc(3 * var(--border-radius));
  --border-radius-4x: calc(4 * var(--border-radius));

  // var for heights
  --size-base: 1rem;
  --size-half: calc(0.5 * var(--size-base));
  --size-1x: var(--size-base);
  --size-1halfx: calc(1.5 * var(--size-base));
  --size-2x: calc(2 * var(--size-base));
  --size-2halfx: calc(2.5 * var(--size-base));
  --size-3x: calc(3 * var(--size-base));
  --size-3halfx: calc(3.5 * var(--size-base));
  --size-4x: calc(4 * var(--size-base));
  --size-4halfx: calc(4.5 * var(--size-base));
  --size-5x: calc(5 * var(--size-base));
}
