@import "variables";
@import "fonts";

body {
  background: rgb(248, 248, 250);
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.015rem;
  margin: 0;
  padding: 0;
}

:host {
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  font-size: 0.875rem;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.025rem;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
