@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body {
  background: #f8f8fa;
  color: black;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
