@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "variables";

body {
  background: rgb(248, 248, 250);
  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  letter-spacing: .025rem;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
