:root {
  // var for typo
  --font-normal: 400;
  --font-bold: 700;

  // var for spacing margin & padding
  --spacing-base: 8px;

  --spacing-half: calc(.5 * var(--spacing-base));
  --spacing-1x: var(--spacing-base);
  --spacing-2x: calc(2 * var(--spacing-base));
  --spacing-3x: calc(3 * var(--spacing-base));
  --spacing-4x: calc(4 * var(--spacing-base));
  --spacing-5x: calc(5 * var(--spacing-base));

  // var for border-radius
  --border-radius: 4px;
}
