name: Lint Commit Messages
on:
  push: { }

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: equisoft-actions/lint-commits@v4
