on: pull_request

name: Compliance

jobs:
  license:
    name: Validate licences compatibility
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup asdf-vm
        uses: equisoft-actions/with-asdf-vm@v2

      - name: Install NPM dependencies
        uses: equisoft-actions/yarn-install@v1

      - name: Run license audit
        id: audit
        shell: bash
        run: |
          yarn workspaces focus -A --production
          yarn checkLicense

      - name: Upload results
        if: "!cancelled()"
        uses: actions/upload-artifact@v5
        with:
          name: license-audit.xml
          if-no-files-found: error
          retention-days: 5
          path: ./build/license/license.xml
