on:
  pull_request: {}
  push:
    branches:
      - master
      - dev/updates

name: Security

jobs:
  security:
    name: CodeQL scan
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - working-directory: packages/react
            name: React
          - working-directory: packages/storybook
            name: Storybook
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: CodeQL
        uses: equisoft-actions/codeql@v1
        with:
          category: ${{ matrix.name }}
          languages: typescript,javascript
          working-directory: ${{ matrix.working-directory }}
